@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Roboto:wght@400;700&display=swap');

:root {
  --font-color-base: #333;
  --font-family-base: inter, avenir, 'Helvetica Neue', helvetica, arial, sans-serif;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1.5;
  --link-color-base: #333;
  --visited-color: #333;
  --bg-color-base: #fcfcfc;
}

[lang='ja'] {
  --font-family-base: 'Roboto', 'Noto Sans JP', 'Helvetica Neue', helvetica, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--font-color-base);
  overflow-wrap: break-word;
  background-color: var(--bg-color-base);
  text-size-adjust: 100%;
}

a {
  color: var(--link-color-base);
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  text-decoration: underline;
  outline-width: 0;
}

a:visited {
  color: var(--visited-color);
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

input{
  font-size: 16px;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

table{
  border-spacing:0;
  border-collapse:collapse;
  border:none;
}

th,td{
  border: solid 1px #333;
}
